@media screen and (max-width:700px){
    header .container{
        display: flex;
        flex-direction: column;
    }

    .botao{
        margin-top: 5px;
        width: 300px;
    }
}

@media screen and (min-width:1000px){
    .descricao{
        width: 50%;
    }
}

@media screen and (max-width:568px){
    .filme-principal .titulo{
        margin-top: 100px
    }

    .filme-principal .descricao{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .carrosel-filmes{
        margin-top: 100px;
    }
    .botao{
        width:275px;
    }
}